@import "tailwindcss";
 
@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
 
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration, 40s) linear infinite;
  animation-direction: var(--animation-direction, forwards);
}

/* h1, h2, h3, p{
    margin-left:2rem;
    margin-right:2rem;

} */

h1{
    font-size: 36px;
    margin:1rem;
    margin-left: 0rem;
    margin-right: 0rem;
}


#teamSection{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    text-align: center;

}

.peopleGrid{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}